extends layouts/layout

block bodyContent
    form(method="POST", action=`/edit/${id}`)
        div
            label(for="firstName") First Name
            input(type="text", autocomplete="firstName", id="firstName", name="firstName", value=firstName,required)
        div
            label(for="lastName") last Name
            input(type="text", autocomplete="lastName", id="lastName", name="lastName", value=lastName required)
        div
            label(for="email") Email
            input(type="email", autocomplete="email", id="email", name="email", value=email required)
        div
            label(for="age") Age
            input(type="number", min=0, max=123, id="age", name="age", value=age required)
        input(type="submit", value="EDIT")