extends layouts/layout

block bodyContent
    h1 User Manager Application
    h3 Search
    form(method="POST", action='/search')
        div
            label(for="searchProperty") Search By
            select(name="searchProperty", id="searchProperty", autoFocus="firstName")
                option(value="firstName") First Name
                option(value="lastName") Last Name
                option(value="email") Email
                option(value="age") Age
        div
            label(for="search") Search
            input(name="search", id="search", type="text", required)
        input(type="submit", value="SEARCH")
    h3 Sort
    form(method="POST", action='/sort')
        div
            label(for="sortProperty") SORT By
            select(name="sortProperty", id="sortProperty", autoFocus="firstName")
                option(value="firstName") First Name
                option(value="lastName") Last Name
                option(value="email") Email
                option(value="age") Age
        div
            label(for="direction") Direction
            select(name="direction", id="direction", autoFocus="ascending")
                option(value="ascending") Ascending
                option(value="descending") Descending
        input(type="submit", value="SORT")
    table
        tr
            th First Name
            th Last Name
            th Email
            th Age
            th id
            th Edit
            th Delete
        each user in users
            tr
                td= user.firstName
                td= user.lastName
                td= user.email
                td= user.age
                td= user.id
                td
                    a(href=`/edit/${user.id}`) edit
                td
                    a(href=`/delete/${user.id}`) delete
    button
        a(href='/add') + ADD USER +

